<a href="https://colab.research.google.com/github/siddchauhan77/Datascience-Projects-Lab/blob/main/Logistic_Regression_Practical_Example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import the Libraries

In [1]:
import pandas as pd
import numpy as np 
import sklearn

Import the dataset

In [2]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Final Folder/Dataset/breast_cancer.csv')
df.head()

   Sample code number  Clump Thickness  ...  Mitoses  Class
0             1000025                5  ...        1      2
1             1002945                5  ...        1      2
2             1015425                3  ...        1      2
3             1016277                6  ...        1      2
4             1017023                4  ...        1      2

[5 rows x 11 columns]

In [10]:
X = df.iloc[:,1:-1].values #take all rows and columns except last one 
y = df.iloc[:,-1].values #take all rows and the last column only

# Split into train-test split

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=44)

# Training the model

In [18]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state=44)

classifier.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=44, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

# Predicting on the test set

In [21]:
y_pred = classifier.predict(X_test)
print(y_pred)

[2 2 2 2 2 2 2 4 4 2 4 4 4 2 2 4 4 2 2 2 2 2 2 4 4 4 4 2 4 4 2 2 2 2 2 2 2
 4 4 4 2 4 4 2 4 2 2 2 4 2 2 2 2 4 2 2 2 2 2 4 4 2 2 2 4 2 4 4 4 4 2 4 2 2
 2 2 2 2 4 2 4 4 2 4 4 2 2 2 4 2 4 4 4 4 4 2 2 2 4 2 2 4 2 2 4 2 2 4 2 2 2
 4 2 4 2 4 2 2 2 4 2 4 2 2 2 2 2 4 4 2 2 2 2 2 2 2 2]

# Confusion Matrix

In [30]:
#making the confusion matrix

from sklearn.metrics import confusion_matrix

cm = confusion_matrix(y_test, y_pred)
print(cm)

[[83  3]
 [ 3 48]]

In [31]:
# accuracy 

(83+48) / (83+48+3+3)

0.9562043795620438

# Cross Validation to get a better accuracy

In [52]:
from sklearn.linear_model import LogisticRegressionCV
from sklearn.model_selection import cross_val_score

accuracy = cross_val_score(estimator=classifier, X= X_train, y = y_train, cv=50)
print(accuracy)
print('mean accuracy:\n',accuracy.mean()) #average of the accuracies gathered.
print('std dev:\n', accuracy.std())

[1.         0.90909091 1.         0.90909091 1.         1.
 1.         1.         1.         0.90909091 1.         1.
 1.         1.         1.         0.90909091 0.90909091 0.90909091
 1.         1.         1.         1.         1.         1.
 1.         0.81818182 1.         1.         0.90909091 1.
 1.         0.90909091 1.         1.         1.         1.
 1.         0.90909091 0.90909091 0.90909091 0.90909091 1.
 1.         1.         1.         1.         1.         0.9
 1.         0.9       ]
mean accuracy:
 0.9705454545454545
std dev:
 0.046658952530459465